@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body,
html {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    padding: 0%;
}

#cabecalhoImagem {
    width: 100vw;
    height: 40vh;
}

#sombraCabecalho {
    width: 100vw;
    height: 8vh;
    display: flex;
    position: absolute;
    background-color: rgba(0, 107, 113, 0.301);
}

.botaoConfiguracoes {
    position: absolute;
    right: 2%;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 36px;
    width: 8vw;
    border: none;
    background: white;
    border-radius: 20px;
    cursor: pointer;
}

.configuracoesEscrita {
    line-height: 20px;
    font-size: 13px;
    position: absolute;
    right: 3%;
    color: rgba(25, 42, 107);
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: 1px;
}

.botaoConfiguracoes:hover {
    background: rgb(243, 243, 243);
    cursor: pointer;
}

.botaoConfiguracoes:hover .iconeConfig {
    animation: spin 2s linear infinite;
}

.iconeConfig {
    position: absolute;
    right: 80%;
}

#logoSenai {
    width: 12vw;
    top: 10%;
    left: 3%;
    position: absolute;
}

.abas {
    font-family: 'Open Sans';
    font-size: 15px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 9.3vw;
    position: relative;
    transition: transform 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
    transform-origin: center center;
}

.abas:hover {
    text-decoration: underline 1px;
    color: rgba(0, 224, 236);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.03);
}

#textoPgInicial {
    margin-left: 25vw;
}

.divSalas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 90%;
    margin: 6.5em auto 0 auto;
    border-radius: 2em;
    padding: 0;
    box-sizing: border-box;
}

.formulario {
    color: rgba(25, 42, 107);
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: bolder;
    margin: 0;
    box-sizing: border-box;
    width: calc(33.333% - 13.333px);
    display: flex;
    flex-direction: column;
    padding: 0.8vh;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.nomeSala {
    font-size: 30px;
}

.categoriaSala {
    color: rgba(25, 42, 107);
    font-weight: bold;
    font-size: 16px;
    font-family: 'Open Sans';
    margin: 0%;
}

#tituloSalas {
    position: absolute;
    left: 50%;
    top: 45%;
}

.containerSalas {
    width: 100%;
    border-bottom: rgba(25, 42, 107) 1px;
    padding: 20px 0;
}

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#reservaBotao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: relative;
    margin-left: 75%;
    color: white;
    width: 6vw;
    height: 4vh;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: rgba(25, 42, 107);
    border: none;
    font-family: 'Open Sans';
    cursor: pointer;
    transition: 0.4s;
}

#reservaBotao:hover {
    box-shadow: 7px 5px 56px -5px rgb(57, 80, 173);
}

#reservaBotao:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px rgb(57, 80, 173);
}

#telaConfiguracoes:not([hidden]) {
    position: absolute;
    top: 15%;
    left: 30%;
    display: flex;
    flex-direction: column;
    background: white;
    width: 35vw;
    height: 70vh;
    border-radius: 2em;
    z-index: 21;
    border: 1px solid rgba(25, 42, 107);
}

#overlay:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}

.no-scroll {
    overflow: hidden;
}

.abasConfig {
    font-weight: bold;
    font-size: 17px;
    font-family: 'Open Sans';
    color: rgba(25, 42, 107);
    gap: 5%;
    cursor: pointer;
}

#divAbasConfiguracoes {
    width: 50%;
    height: 50%;
    margin-top: 3%;
    margin-left: 5%;
}

.divAbaIndividual {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 10vw;
    height: 5vh;
    border-radius: 0.7em;
    margin-bottom: 5%;
    cursor: pointer;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.divAbaIndividual:hover {
    background-color: rgba(213, 213, 213, 0.300);
}

.abaAtiva {
    background-color: rgba(213, 213, 213, 0.600);
}

.conteudoAba {
    position: absolute;
    left: 45%;
    top: 5%;
    width: 45%;
    color: rgba(25, 42, 107);
    font-family: 'Open Sans';
}

.textoConfig {
    margin-top: 5%;
    font-size: 15px;
}

.oculto {
    display: none;
}

.icones {
    width: 1vw;
    cursor: pointer;
}

#fecharConfigs {
    position: relative;
    margin-left: 5%;
    transition: all 0.3s ease-in-out;
    margin-top: 5%;

}

#fecharConfigs:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

@keyframes rodarEngrenagem {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.girarEngrenagem {
    animation: rodarEngrenagem 2s linear infinite;
}

.tituloPagina {
    position: absolute;
    left: 42%;
    top: 0%;
    color: rgba(25, 42, 107);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 27px;
}

#linha1 {
    background-color: rgba(25, 42, 107);
    position: absolute;
    top: 50%;
    left: -20%;
    height: 0.08vh;
    width: 112.5%;
    transform: rotate(90deg);
}

.linha2{
    background-color: rgba(25, 42, 107);
    position: absolute;
    top: 12%;
    left: 42%;
    width: 55%;
    height: 0.1vh;
}

#inputReservante{
    position: absolute;
    left: 58%;
    margin-top: 40%;
    border: 0;
    border-bottom: 1px solid rgba(25, 42, 107);
    box-shadow: 0 0 4px rgba(25, 42, 107, 0.5); 
}

#inputReservante:focus {
    outline: none; 
}

#telaReserva:not([hidden]) {
    position: absolute;
    top: 15%;
    left: 30%;
    display: flex;
    flex-direction: column;
    background: white;
    width: 35vw;
    height: 70vh;
    border-radius: 2em;
    z-index: 21;
    border: 1px solid rgba(25, 42, 107);
}

#nomeReservante{
    position: absolute;
    left: -6%;
    margin-top: 7.2em;
}

#telaCadastro:not([hidden]){
    position: absolute;
    top: 10%;
    left: 30%;
    display: flex;
    flex-direction: column;
    background: white;
    width: 35vw;
    height: 70vh;
    border-radius: 2em;
    z-index: 21;
    border: 1px solid rgba(25, 42, 107);
}

#tituloCadastro{
    position: absolute;
    left: 33%;
    top: 1%;
    color: rgba(25, 42, 107);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 27px;
}

.linha3{
    background-color: rgba(25, 42, 107);
    position: absolute;
    top: 12%;
    left: 10%;
    width: 80%;
    height: 0.1vh;
}

#formularioSala{
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
}

.camposFormulario{
    display: flex;
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: rgba(25, 42, 107);
    gap: 10rem !important;
}